{
    "presets": [
      "env"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "root": [
            "./"
          ],
          "alias": {
            "ROOT_DIR": "./src"
          }
        }
      ],
      [
        "transform-object-rest-spread"
      ]
    ]
  }